DATABASE_URL="mysql://sensory:sensory_pw@localhost:3306/sensory_nav"
PORT=4000
CORS_ORIGIN="http://localhost:5173"
OSRM_BASE_URL="https://router.project-osrm.org"
MELBOURNE_OPEN_DATA_BASE="https://data.melbourne.vic.gov.au/api/explore/v2.1/catalog/datasets"
CROWD_ALERT_THRESHOLD=100
SYNC_REALTIME_CRON="*/5 * * * *"
SYNC_HISTORICAL_CRON="0 2 * * *"
